.nav-font {
  font-family: "Roboto Mono", monospace;
}

.nav-item:hover {
  background-color: rgb(211, 210, 210);
  transition: background-color 0.3s;
}

.main {
  background-color: #f5f8fa;
  height: 350px;
  border-top: 1px solid rgb(226, 226, 226);
  border-bottom: 1px solid rgb(226, 226, 226);
  font-family: 'Montserrat', sans-serif;
}
.main-text {
  text-align: center;
}
.circle {
  width: 143px;
  height: 143px;
  background: white;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.circle:hover {
  border: 1px solid rgb(124, 124, 124);
}

.circle-img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.circle-div {
  margin: 0px auto;
}

.secondary-text {
  color: rgb(216, 216, 216);
  -webkit-text-stroke: 0.5px rgb(189, 189, 189);
}

.minh-100 {
  height: 100vh;
}
.info {
  margin-top: 50px;
  margin-left: 90px;
  margin-right: 90px;
}
.col-info {
  max-width: 35%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.info-about {
  max-width: 50%;
  font-family: 'Raleway', sans-serif;
}
.info-contact {
  max-width: 35;
}
.contact {
  width: 40px;
  height: 80px;
}
.contact-items {
  text-align: center;
}
